html, body {
  display: block;
  color: $black;
  font-size: 10px;
  -webkit-text-size-adjust: none;
}

body {
  @extend %euclid;
  @extend %clearfix;
  overflow-x: hidden;
  position: relative;
  background: $bkg;
  color: $blue;
  width: 100%;
}

a, a:visited {
  color: $blue;
  transition: all .3s ease-in-out;
  outline: 0 !important;
}

main.page-content {
  width: 100%;
  padding-left: 220px;
  @include tablet {
    padding-left: 0;
  }
  @include mobile {
    padding-left: 0;
    padding-top: 40px;
  }
}
