<div class="single-grgtoken-slide c-{{slide.slug}}" id="{{slide.slug}}">
  <div class="slide-wrapper">
    <h3 class="subtitle" data-show-on-scroll>{{ slide.subtitle }}</h3>
    <h2 class="title" data-show-on-scroll>{{ slide.title }}</h2>
    <div class="content-wrapper" data-show-on-scroll>
      <div class="animation">
        {% if slide.animation %}
        <!-- <div class="scrolled-token" data-animation="assets/animations/{{slide.slug}}" data-show-on-scroll></div> -->
        <div class="scrolled" data-animation="assets/animations/{{slide.slug}}" data-show-on-scroll></div>

        {% endif %}
      </div>
      <div class="content">
        {{ slide.content }}
        {% if slide.video_link %}
        <a class="icon-video-link button" href="{{ slide.video_link }}" data-video-link>
          <div class="icon-wrapper">
            {% svg "_icons/video.svg" class="icon-video icon" %}
          </div>
          <div class="label">Watch the Video</div>
        </a>
        {% elsif slide.external_link == "/assets/downloads/blue-paper.pdf" %}
        <a href="{{site.url}}{{slide.external_link}}" class="icon-download button" target="_blank">
          <div class="icon-wrapper">
            {% svg "_icons/download.svg" class="icon-download icon" %}
          </div>
          <div class="label">Read the Bluepaper</div>
        </a>
        {% elsif slide.external_link" %}
        <a href="{{slide.external_link}}" class="icon-download button" target="_blank">
          <div class="icon-wrapper">
            {% svg "_icons/beta.svg" class="icon-beta icon" %}
          </div>
          <div class="label">Read the docs</div>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
