<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% asset 'apple-touch-icon-152x152-precomposed.png' @path %}">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% asset 'apple-touch-icon-120x120-precomposed.png' @path %}">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% asset 'apple-touch-icon-76x76-precomposed.png' @path %}">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% asset 'apple-touch-icon-60x60-precomposed.png' @path %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% asset 'apple-touch-icon-144x144.png' @path %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% asset 'apple-touch-icon-114x114.png' @path %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% asset 'apple-touch-icon-72x72.png' @path %}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% asset 'apple-touch-icon.png' @path %}">
	<link rel="icon" sizes="228x228" href="{% asset 'coast-icon-228x228.png' @path %}">
	<link rel="shortcut icon" href="{% asset 'favicon.ico' @path %}">
	<link rel="icon" type="image/png" sizes="64x64" href="{% asset 'favicon.png' @path %}">
	{% include analytics.html %}
</head>
