<li data-show-on-scroll>
  {% if member.image %}
    {% asset {{member.image}} !integrity %}
  {% endif %}
  <h4>{{member.name}}</h4>
  <h5>{{member.title}}</h5>
  <div class="bio">
    {{member.bio}}
  </div>
  <div class="social">
    {% if member.linkedin %}
      <a href="{{ member.linkedin }}" target="blank">
        {% svg "_icons/linkedin.svg" %}
      </a>
    {% endif %}
    <!-- {% if member.github %}
      <a href="{{ member.github }}" target="blank">
        {% svg "_icons/github.svg" %}
      </a>
    {% endif %}
    {% if member.twitter %}
      <a href="{{ member.twitter }}" target="blank">
        {% svg "_icons/twitter.svg" %}
      </a>
    {% endif %} -->
  </div>
</li>
