<a class="button nav bottom-menu-button" href="{{site.url}}/assets/downloads/white-paper.pdf" target="_blank">
  <div class="icon-wrapper">
    {% svg "_icons/download.svg" class="icon-download icon" %}
  </div>
  <div class="label">Read the <br />White Paper</div>
</a>
<a class="button nav bottom-menu-button" href="token-sale" data-token-popup>
  <div class="icon-wrapper">
    {% svg "_icons/busta.svg" class="icon-newsletter icon" %}
  </div>
  <div class="label">Join the <br />Newsletter</div>
</a>