<div class="popup-wrapper-papers">
  <div class="popup">
    <div class="buttons" data-show-on-scroll>
      <a href="{{site.url}}/assets/downloads/white-paper.pdf" class="icon-download button button-popup" target="_blank">
        <div class="icon-wrapper">
          {% svg "_icons/download.svg" class="icon-download icon" %}
        </div>
        <div class="label">Whitepaper (English)</div>
      </a>
      <a href="{{site.url}}/assets/downloads/RigoBlockPaper-JP.pdf" class="icon-download button button-popup" target="_blank">
        <div class="icon-wrapper">
          {% svg "_icons/download.svg" class="icon-download icon" %}
        </div>
        <div class="label">Whitepaper (日本語)</div>
      </a>
      <a href="{{site.url}}/assets/downloads/RigoBlockPaper-KO.pdf" class="icon-download button button-popup" target="_blank">
        <div class="icon-wrapper">
          {% svg "_icons/download.svg" class="icon-download icon" %}
        </div>
        <div class="label">Whitepaper (한국어)</div>
      </a>
      <a href="{{site.url}}/assets/downloads/blue-paper.pdf" class="icon-download button button-popup" target="_blank">
        <div class="icon-wrapper">
          {% svg "_icons/download.svg" class="icon-download icon" %}
        </div>
        <div class="label">Bluepaper (English)</div>
      </a>
    </div>
    <div class="close" data-close-popup-papers>&nbsp;</div>
  </div>
</div>