<!-- <div class="popup-wrapper">
  <div class="popup">
    <span class="a">Sign up to receive our monthly updates.</span>
    <form>
      <input type="email" placeholder="Your email" name="email" />
      <button type="submit">
        {% svg "_icons/submit.svg" class="icon-submit icon" %}
      </button>
    </form>
    <div class="close" data-close-popup>&nbsp;</div>
  </div>
</div> -->

<div class="popup-wrapper">
  <div class="popup">
    <div id="form-newsletter-input" class="clear">
      <span class="a">Sign up to receive our monthly updates.</span>
      <form action="{{site.mailchimp_list}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
        target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <button type="submit" value="Subscribe" name="subscribe">
          {% svg "_icons/submit.svg" class="icon-submit icon" %}
        </button>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_210acce5db69d3d4a04b0e25d_a268d63442" tabindex="-1" value="">
        </div>
      </form>
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <script>
      (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

        var ml_account = ml('accounts', '1214212', 'b3v0w7o8d2', 'load');
    </script>
    <div class="close" data-close-popup>&nbsp;</div>
  </div>
</div>
