<!--div class="popup-wrapper">
  <div class="popup">
    <span class="a">Sign up to receive our monthly updates.</span>
    <form>
      <input type="email" placeholder="Your email" name="email" />
      <button type="submit">
        {% svg "_icons/submit.svg" class="icon-submit icon" %}
      </button>
    </form>
    <div class="close" data-close-popup>&nbsp;</div>
  </div>
</div-->

<div class="popup-wrapper">
  <div class="popup">
    <div id="form-newsletter-input" class="clear">
      <div class="ml-embedded" data-form="bzmDXI"></div>
      <!--span class="a">Sign up to receive our updates.</span>
      <form action="{{site.mailchimp_list}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
        target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <button type="submit" value="Subscribe" name="subscribe">
          {% svg "_icons/submit.svg" class="icon-submit icon" %}
        </button>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_210acce5db69d3d4a04b0e25d_a268d63442" tabindex="-1" value="">
        </div>
      </form-->
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <div class="close" data-close-popup>&nbsp;</div>
  </div>
</div>
