.community-tab {
  position: absolute;
  width: calc(100vw - #{$nav-width});
  height: 100%;
  top: 0;
  left: 0;
  transition: all $std-transition-time * 3 ease-in-out;
  transform: translateX(-100%);
  z-index: -1;
  @include tablet {
    transform: translateX(-100%);
    transition: transform $std-transition-time ease-in-out;
    z-index: -1;
    left: 300px;
  }
  @include mobile {
    width: 100%;
    z-index: 10;
  }
  &.open {
    transform: translateX(0);
    left: $nav-width;
    @include mobile {
      left: 0;
    }
    @include tablet {
      left: 300px;
    }
    .fake-bkg {
      opacity: 1;
      pointer-events: initial;
    }
  }
  .content {
    @include column(4 of 12);
    padding-left: 60px;
    padding-right: 60px;
    height: 100%;
    background: $bkg;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    @include mobile {
      @include column(12 of 12, 40px);
      justify-content: space-between;
      padding-top: 50px;
      display: initial;
    }
    @include tablet {
      @include column(8 of 12, 80px);
      justify-content: space-between;
      padding-top: 70px;
      padding-bottom: 70px;
      display: initial;
    }
    .social-block {
      @include rfont-size(20, 500);
      margin-top: 138px;
      @include mobile {
        @include the-font-size(14);
        margin-bottom: 50px;
        margin-top: 40px;
      }
      @include tablet {
        @include the-font-size(18);
        margin-bottom: 70px;
        margin-top: 63px;
      }
      .social-links {
        display: flex;
        @include rmargin-top(13);
        @include mobile {
          margin-top: 15px;
        }
        a, a:visited {
          display: block;
          width: 32px;
          height: 32px;
          // background: $blue;
          margin-right: 10px;
        }
      }
    }
  }
  .fake-bkg {
    @include parent-column(8 of 12);
    height: 100%;
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, #054186 100%);
    opacity: 0;
    pointer-events: none;
    transition: all $std-transition-time * 3 ease-in-out;
    @include tablet {
      display: none;
    }
  }

  .mobile-community-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    @include mobile {
      display: block;
    }
  }

}
