.community-tab {
  position: absolute;
  width: calc(100vw - #{$nav-width});
  height: 100%;
  top: 0;
  left: 0;
  transition: all $std-transition-time * 3 ease-in-out;
  transform: translateX(-100%);
  z-index: -1;
  @include tablet {
    transform: translateX(-100%);
    transition: transform $std-transition-time ease-in-out;
    z-index: -1;
    left: 300px;
  }
  @include mobile {
    width: 100%;
    z-index: 10;
  }
  &.open {
    transform: translateX(0);
    left: $nav-width;
    @include mobile {
      left: 0;
    }
    @include tablet {
      left: 300px;
    }
    .fake-bkg {
      opacity: 1;
      pointer-events: initial;
    }
  }
  .content {
    @include column(4 of 12);
    padding-left: 60px;
    padding-right: 60px;
    height: 100%;
    background: $bkg;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include mobile {
      @include column(12 of 12, 40px);
      justify-content: space-between;
      padding-top: 50px;
      display: initial;
    }
    @include tablet {
      @include column(8 of 12, 80px);
      justify-content: space-between;
      padding-top: 70px;
      padding-bottom: 70px;
      display: initial;
    }
    .social-block {
      @include rfont-size(20, 500);
      @include mobile {
        @include the-font-size(14);
        margin-bottom: 50px;
      }
      @include tablet {
        @include the-font-size(18);
        margin-bottom: 70px;
      }
      .social-links {
        display: flex;
        @include rmargin-top(13);
        @include mobile {
          margin-top: 15px;
        }
        a, a:visited {
          display: block;
          width: 32px;
          height: 32px;
          // background: $blue;
          margin-right: 10px;
        }
      }
    }
    .mailing-block, .positions-block {
      .q, .a {
        display: block;
      }
      .q {
        @include rfont-size(20, 500);
        @include tablet {
          @include the-font-size(18);
        }
        @include mobile {
          @include the-font-size(14);
        }
      }
      .a {
        @include rfont-size(20, 300);
        @include tablet {
          @include the-font-size(18);
        }
        @include mobile {
          @include the-font-size(14);
        }
      }
    }
    .mailing-block {
      @include mobile {
        margin-bottom: 50px;
      }
      @include tablet {
        margin-bottom: 70px;
      }
      form {
        @include rmargin-top(20);
        display: flex;
        @include mobile {
          margin-top: 10px;
        }
        input, button {
          @extend %euclid;
          @include rfont-size(14, 300);
          -webkit-appearance: none;
          outline: 0;
          border: 1px solid $blue;
          background: transparent;
          padding: 10px;
          text-transform: uppercase;
          float: left;
          color: $blue;
          border-radius: 0;
          margin: 0;
          @include mobile {
            @include the-font-size(14);
          }
          @include tablet {
            @include the-font-size(14);
          }
        }
        button {
          border-left: none;
          font-size: 0;
          width: 46px;
          line-height: initial;
          cursor: pointer;
        }
        input {
          width: 100%;
        }
      }
    }
    .positions-block {
      .positions-button {
        @include rmargin-top(20);
        border: 1px solid $blue;
        display: flex;
        align-items: center;
        @include mobile {
          height: 42px;
          margin-top: 10px;
        }
        @include tablet {
          height: 42px;
        }
        .label {
          @include rfont-size(14, 300);
          text-transform: uppercase;
          padding: 10px;
          width: 100%;
          @include mobile {
            @include the-font-size(14);
          }
          @include tablet {
            @include the-font-size(14);
          }
        }
        .icon {
          border-left: 1px solid $blue;
          width: 46px;
          padding: 10px;
          font-size: 0;
        }
      }
    }

  }
  .fake-bkg {
    @include parent-column(8 of 12);
    height: 100%;
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, #054186 100%);
    opacity: 0;
    pointer-events: none;
    transition: all $std-transition-time * 3 ease-in-out;
    @include tablet {
      display: none;
    }
  }

  .mobile-community-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    @include mobile {
      display: block;
    }
  }

}
