footer {
  @extend %clearfix;
  padding-left: 280px;
  @include rpadding-top(22);
  @include rpadding-bottom(22);
  padding-right: 60px;
  @include tablet {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include mobile {
    @include parent-column(1 of 1);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
  }
  .left-content, .right-content {
    font-size: 16px;
    @include column(1 of 2);
    &.right-content {
      text-align: right;
      opacity: 0.5;
    }
    @include tablet {
      font-size: 16px;
    }
    @include mobile {
      @include the-font-size(12);
      width: auto;
    }
  }
}
