.wrapper {
  width: 100%;
  float: left;
  &.page, &.press, &.team, &.positions {
    padding-left: 60px;
    padding-right: 60px;
    @include tablet {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include mobile {
      padding-left: 0px;
      padding-right: 0px;
    }
    h1 {
      @include column(12 of 12);
      @include rfont-size(16, 300);
      text-transform: uppercase;
      @include rmargin-bottom(5);
      @include rmargin-top(100);
      @include tablet {
        @include the-font-size(16);
        margin-bottom: 5px;
        margin-top: 60px;
      }
      @include mobile {
        @include the-font-size(10);
        margin-bottom: 5px;
        margin-top: 25px;
      }
    }
    h2 {
      @include column(12 of 12);
      @include rfont-size(44, 400);
      @include tablet {
        @include the-font-size(44);
        margin-bottom: 90px;
      }
      @include mobile {
        @include the-font-size(27);
        margin-bottom: 40px;
      }
    }
  }
}
