[data-show-on-scroll] {
  opacity: 0;
  transition: all ($std-transition-time * 2) ease-in-out;
  transform: translateY(25%);

  @include mobile {
    opacity: 1;
    transform: translateY(0);
  }

  &.scrolled {
    opacity: 1;
    transform: translateY(0);
  }
}