.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255,255,255,0) 0%, #054186 100%);
  z-index: 10;
  .iframe-wrapper {
    width: 100%;
    padding-left: 220px;
    @include mobile {
      padding-left: 0;
      height: 100%;
    }
    @include tablet {
      padding-left: 0;
    }
    .grid {
      @include column(10 of 12);
      @include column-margin(1 of 12);
      @include mobile {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      .responsive-wrapper {
        @include rmargin-top(100);
        width: 100%;
        height: 0;
        position: relative;
        padding-top: 56.25%;
        @include tablet {
          margin-top: 100px;
        }
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .close {
          position: absolute;
          right: -30px;
          top: 0;
          background-image: url('images/close.svg');
          width: 14px;
          height: 90px;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }
  }
}
