#whitelist-button {
  top: 120px;
  position: relative;
  z-index: 999;
}

.whitelist {
  font-weight: 700;
}

.shadow {
  -moz-box-shadow: 0 0 5px #054186;
  -webkit-box-shadow: 0 0 5px#054186;
  box-shadow: 0 0 5px #054186;
}

.dotted {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
}

.icotext {
  color: #ffae00;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    top: 0px;
  }

  100% {
    opacity: 1;
    top: 120px;
  }
}

@keyframes shake {

  10%,
  30%,
  50% {
    transform: translate3d(-14px, 0, 0);
  }

  20%,
  40% {
    transform: translate3d(14px, 0, 0);
  }

  30%,
  50% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@media all and (min-width:960px) and (max-width: 1023px) {
  #whitelist-button {
    top: 120px;
    position: relative;
    z-index: 999;
  }
}

@media all and (min-width:801px) and (max-width: 959px) {
  #whitelist-button {
    top: 120px;
    position: relative;
    z-index: 999;
  }
}

@media all and (min-width:769px) and (max-width: 800px) {

  .icon-ico-sale {
    z-index: 999;
    margin-right: auto;
    margin-left: auto;
  }

  .ico-button-container {
    z-index: 999;
    display: inline-block;
  }

  .shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
  }

}

@media all and (min-width:569px) and (max-width: 768px) {

  .icon-ico-sale {
    z-index: 999;
    margin-right: auto;
    margin-left: auto;
  }

  .ico-button-container {
    z-index: 999;
    display: inline-block;
  }

  .shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
  }

  // #whitelist-button {
  //   top: 5px;
  //   position: relative;
  // }

  // .fade-in {
  //   opacity: 1;
  //   animation-name: fadeInOpacity;
  //   animation-iteration-count: 1;
  //   animation-timing-function: ease-in;
  //   animation-duration: 0.5s;
  // }

  // @keyframes fadeInOpacity {
  //   0% {
  //     opacity: 0;
  //     top: 0px;
  //   }

  //   100% {
  //     opacity: 1;
  //     top: 5px;
  //   }
  // }
}

@media all and (min-width:481px) and (max-width: 568px) {
  #whitelist-button {
    top: 5px;
    position: relative;
    z-index: 999;
  }

  .shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    text-align: center;
  }

  .icon-ico-sale {
    z-index: 999;
    margin-right: auto;
    margin-left: auto;
  }

  .ico-button-container {
    z-index: 999;
    display: inline-block;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
      top: 0px;
    }

    100% {
      opacity: 1;
      top: 5px;
    }
  }
}

@media all and (min-width:321px) and (max-width: 480px) {
  #whitelist-button {
    top: 5px;
    position: relative;
    z-index: 999;
  }

  .shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    text-align: center;
  }

  .icon-ico-sale {
    z-index: 999;
    margin-right: auto;
    margin-left: auto;
  }

  .ico-button-container {
    z-index: 999;
    display: inline-block;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
      top: 0px;
    }

    100% {
      opacity: 1;
      top: 5px;
    }
  }

}

@media all and (min-width:0px) and (max-width: 320px) {
  #whitelist-button {
    top: 5px;
    position: relative;
    z-index: 999;
  }

  .shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    text-align: center;
  }

  .icon-ico-sale {
    z-index: 999;
    margin-right: auto;
    margin-left: auto;
  }

  .ico-button-container {
    z-index: 999;
    display: inline-block;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
      top: 0px;
    }

    100% {
      opacity: 1;
      top: 5px;
    }
  }
}
