<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.layout }}">
    <div class="main-wrapper">

      {%- include header.html -%}
      {% include analytics.html %}
      <main class="page-content" aria-label="Content">
        <div class="wrapper {{ page.layout }}">
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}
    </div>

    {% if site.token_sale_popup %}
      {%- include popup.html -%}
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% asset main.js %}
  </body>

</html>
