<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.layout }}">
    <div class="main-wrapper">

      {%- include header.html -%}
      <main class="page-content" aria-label="Content">
        <div class="wrapper {{ page.layout }}">
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}
    </div>

    {% if site.token_sale_popup %}
      {%- include popup.html -%}
    {% endif %}

    <!-- test whitepaper multilingual -->
    {% if site.wp_lang_popup %}
      {%- include popup-wp.html -%}
    {% endif %}

    {% asset main.js %}

    <!-- <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
      (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
      }(jQuery));
      var $mcj = jQuery.noConflict(true);
    </script> -->
  </body>

</html>
