body.home {
  header {
    position: absolute;
    height: 100vh;
    top: 100vh;
    &.sticky {
      position: fixed;
      top: -1px;
      height: calc(100vh + 1px)
    }
    @include tablet {
      position: fixed;
      top: 34px;
      height: calc(100vh - 35px);
      &.sticky {
        top: 34px;
        height: calc(100vh - 35px);
      }
    }
    @include mobile {
      position: fixed;
      top: 0;
      height: 100vh;
      &.sticky {
        top: 0;
        height: 100vh;
      }
    }
  }
}
