.wrapper.press {
  ul {
    @extend %clearfix;
    @include parent-column(1 of 1);
    @include rmargin-top(70);
    @include rmargin-bottom(70);
    display: flex;
    flex-wrap: wrap;
    @include tablet {
      margin-top: 0;
    }
    @include mobile {
      margin-bottom: 120px;
    }
    li {
      @extend %clearfix;
      @include column(3 of 12);
      @include rmargin-bottom(60);
      @include tablet {
        @include column(4 of 12);
        margin-bottom: 30px;
      }
      @include mobile {
        @include column(1 of 1);
        margin-bottom: 30px;
      }
      .press-wrapper {
        @extend %clearfix;
        @include parent-column(1 of 1);
        border: 1px solid $blue;
        position: relative;
        height: 100%;
        transition: all $std-transition-time ease-in-out;
        &:hover {
          box-shadow: #ffae00 7px 7px 0px;
        }
        .main {
          @include parent-column(1 of 1);
          padding: 5px 10px;
          @include rpadding-bottom(150);
          @include mobile {
            margin-bottom: 120px;
          }
          .date {
            @include rfont-size(14, 300);
            text-transform: uppercase;
            @include tablet {
              @include the-font-size(14);
            }
            @include mobile {
              @include the-font-size(12);
            }
          }
          h3 {
            @include rfont-size(30, 300);
            @include tablet {
              @include the-font-size(30);
            }
            @include mobile {
              @include the-font-size(25);
            }
          }
        }
      }
    }
  }
}
